.card {
    border-radius: 15px;
    background: linear-gradient(135deg, #ffffff, #e8f0fe);
}


.card img {
    border: 5px solid #007bff;
}

.card-body h4,
.card-body h3 {
    color: #007bff;
}

@media (max-width: 768px) {
    .card-body h3,
    .card-body h4 {
        text-align: center;
        margin-bottom: 20px;
    }

    .row {
        flex-direction: column;
    }

    .row div {
        text-align: center;
    }
}
